<extend name="Public:baseIndex"/>
<block name="content">

    <tr>
        <th>编号</th>
        <th>班级名称</th>
        <th>任课教师</th>
        <th>调查问题</th>
        <th>总分数</th>
        <th>平均分</th>
        <th>调查的人数</th>
        <th>添加时间</th>
    </tr>
    <volist name="rows" id="row" key="i">
        <tr>
            <td align="center">{$i}</td>
            <td align="center">{$row.cname}</td>
            <td align="center">{$row.tname}</td>
            <td align="center">{$row.topic}</td>
            <td align="center">{$row.fraction}</td>
            <td align="center">{$row.avg}</td>
            <td align="center">{$row.number}</td>
            <td align="center">{:date('Y-m-d H:i:s',$row[create_time])}</td>
            <td>
                <!--<a href="{:U('Summary/save',array('id'=>$row['id']))}">编辑</a>-->
                <!--|-->
                <!--<a class="ajax-get" href="{:U('Summary/del',array('id'=>$row['id']))}">删除</a>-->
            </td>
        </tr>
    </volist>
    <a href="{:U('Summary/idea',array('class_id'=>$row['class_id'],'teacher_id'=>$row['teacher_id']))}"><h1>
        学生建议与问题</h1></a>
</block>