<!--<extend name="Public:baseSave"/>-->
<!--<block name="content">-->
    <!--<form method="post" action="{:U('Summary/save')}" enctype="multipart/form-data">-->
        <!--<table cellspacing="1" cellpadding="3" width="100%">-->
            <!--<tr>-->
                <!--<td class="label">名称</td>-->
                <!--<td>-->
                    <!--<input Type="text" name="class_id" maxlength="60" value="{$class_id}"/>-->
                    <!--<span class="require-field">*</span>-->
                <!--</td>-->
            <!--</tr>-->

            <!--<tr>-->
                <!--<td class="label">任课教师</td>-->
                <!--<td>-->
                    <!--<input Type="text" name="teacher_id" maxlength="60" value="{$teacher_id}"/>-->
                    <!--<span class="require-field">*</span>-->
                <!--</td>-->
            <!--</tr>-->

            <!--<tr>-->
                <!--<td class="label">分数</td>-->
                <!--<td>-->
                    <!--<input Type="text" name="fraction" maxlength="60" value="{$fraction}"/>-->
                    <!--<span class="require-field">*</span>-->
                <!--</td>-->
            <!--</tr>-->

            <!--<tr>-->
                <!--<td class="label">平均分</td>-->
                <!--<td>-->
                    <!--<input Type="text" name="avg" maxlength="60" value="{$avg}"/>-->
                    <!--<span class="require-field">*</span>-->
                <!--</td>-->
            <!--</tr>-->

            <!--<tr>-->
                <!--<td class="label">调查的人数</td>-->
                <!--<td>-->
                    <!--<input Type="text" name="number" maxlength="60" value="{$number}"/>-->
                    <!--<span class="require-field">*</span>-->
                <!--</td>-->
            <!--</tr>-->


            <!--<tr>-->
                <!--<td colspan="2" align="center"><br/>-->
                    <!--<input Type="hidden" name="id" value="{$id}">-->
                    <!--<input Type="submit" class="button" value=" 确定 "/>-->
                    <!--<input Type="reset" class="button" value=" 重置 "/>-->
                <!--</td>-->
            <!--</tr>-->
        <!--</table>-->
    <!--</form>-->
<!--</block>-->
